<h1>Editing student</h1>

<%= error_messages_for :student %>

<% form_for(@student) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
