APP_CONFIG = {
  :admin_user     => 'admin',
  :admin_password => 'admin',  
  :mail_from      => 'admin@example.com',
  :mail_reply_to  => 'no-reply@example.com',
  :mail_server    => 'mail.example.com',
  :mail_port      => 25,
  :mail_domain    => 'example.com',
  :mail_user      => 'admin',
  :mail_password  => 'admin',
  :mail_auth      => :login,
  :ldap_host      => 'ldap.example.com',
  :ldap_port      => 389,
  :ldap_userbase  => 'cn=users,dc=ldap,dc=example,dc=com',
  :ldap_groupbase => 'cn=groups,dc=ldap,dc=example,dc=com',
  :ldap_user      => 'uid=admin,cn=users,dc=ldap,dc=example,dc=com',
  :ldap_password  => 'admin',
}